<!doctype html>
<html lang="zxx">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Watch shop | eCommers</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="manifest" href="site.webmanifest">
  <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.ico">
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

  <!-- CSS here -->
  <link rel="stylesheet" href="assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/css/owl.carousel.min.css">
  <link rel="stylesheet" href="assets/css/flaticon.css">
  <link rel="stylesheet" href="assets/css/slicknav.css">
  <link rel="stylesheet" href="assets/css/animate.min.css">
  <link rel="stylesheet" href="assets/css/magnific-popup.css">
  <link rel="stylesheet" href="assets/css/fontawesome-all.min.css">
  <link rel="stylesheet" href="assets/css/themify-icons.css">
  <link rel="stylesheet" href="assets/css/slick.css">
  <link rel="stylesheet" href="assets/css/nice-select.css">
  <link rel="stylesheet" href="assets/css/style.css">
</head>

<body>
  <header>
    <!-- Header Start -->
    <div class="header-area" style="background-color:black;">
      <div class="main-header header-sticky" style="background-color:black;">
        <div class="container-fluid">
          <div class="menu-wrapper" style="height: 60px;">
            <!-- Logo -->
            <div class="logo">
              <a href="/"><img src="assets/img/logo/logo.png" alt=""
                  style="margin-left: 65px;width: 42%;height: -42%;"></a>
            </div>
            <!-- Main-menu -->
            <div class="main-menu d-none d-lg-block">
              <nav>
                <ul id="navigation">
                  {{!-- <li><a class="clr" href="/">Home</a></li> --}}
                  <li><a class="clr" href="shop">shop</a></li>
                  <li><a class="clr" href="wishlist">Wishlist</a></li>

                  <li><a class="clr" href="orders">My orders</a></li>
                  <ul class="submenu">
                    <li><a href="shop.html"> Product list</a></li>
                    <li><a href="product_details.html"> Product Details</a></li>
                  </ul>
                  </li>

              </nav>
            </div>
            <!-- Header Right -->
            <div class="header-right">
              <ul>
                <li>
                  <div class="nav-search search-switch">
                    <span class="flaticon-search clr"></span>
                  </div>
                </li>
                <li> <a href="login"><span class="flaticon-user clr"></span></a></li>
                <li><a href="cart"><span class="flaticon-shopping-cart clr"></span><span class="head">{{cnt}}</span></a>
                </li>
              </ul>
            </div>
          </div>
          <!-- Mobile Menu -->
          <div class="col-12">
            <div class="mobile_menu d-block d-lg-none"></div>
          </div>
        </div>
      </div>
    </div>
    <!-- Header End -->
  </header>

  <main>
    <!-- Hero Area Start-->
    <div class="slider-area ">
      <div class="single-slider slider-height2 d-flex align-items-center">
        <div class="container">
          <div class="row">
            <div class="col-xl-12">
              <div class="hero-cap text-center">
                <h2></h2>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--================Cart Area =================-->




    <div style="display:flex;flex-direction:row;column-gap:250px;margin-left: 164px;">


      <form id="checkout-form" style="width:372px">
        First Name
        <input class="post_code" type="text" placeholder="First Name" name="ffname" required>
        Last Name
        <input class="post_code" type="text" placeholder="Last Name" name="llname" required>
         Mail
        <input class="post_code" type="text" placeholder="Mail" name="mail" required>

        Mobile Number
        <input class="post_code" type="text" placeholder="Phone" name="mon" required>
        Pin
        <input class="post_code" type="text" placeholder="Postcode/Zipcode" name="pin" required max="7">
        State     
        <input class="post_code" type="text" placeholder="State" name="state" required>
        City
        <input class="post_code" type="text" placeholder="city" name="city" required>
        Street
        <input class="post_code" type="text" placeholder="Street" name="street" required>
        House      
        <input class="post_code" type="text" placeholder="House" name="house" required>
        
        <input type="text" name="userId" value="{{userId}}" hidden>


      </form>

      <div style="width: 500px;margin-top: 511px;">

        <div class="container  checkout ">
          <h5>Total Amount: {{ttl}}</h5>
          <hr>
          <div>
            <p>Payment Method :</p>
            <label for="payment type" class="radio-inline">
              <input type="radio" form="checkout-form" name="payment-method" value="COD"><span> Cash on Delivery</span>
            </label>
            <br>
            <label for="payment type" class="radio-inline">
              <input type="radio" form="checkout-form" name="payment-method" value="Online Payment" required><span> Online
                Payment</span>
            </label>

            <div>
              <label for="payment type" class="radio-inline">
              <button form="checkout-form" class="btn_3" style="margin-bottom: 48px;" type="submit" required> Proceed to
                Payment</button></label>
            </div>
          </div>

        </div>
      </div>






    </div>

















    <footer>
      <!-- Footer Start-->
      <div class="footer-area footer-padding" style="background-color: black">
        <div class="container">
          <div class="row d-flex justify-content-between">
            <div class="col-xl-3 col-lg-3 col-md-5 col-sm-6">
              <div class="single-footer-caption mb-50">
                <div class="single-footer-caption mb-30">
                  <!-- logo -->
                  <div class="footer-logo">
                    <a href="/"><img src="assets/img/logo/logo2_footer.png" style="width: 45%;" alt=""></a>
                  </div>
                  <div class="footer-tittle">
                    <div class="footer-pera">

                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-2 col-lg-3 col-md-3 col-sm-5">
              <div class="single-footer-caption mb-50">
                <div class="footer-tittle">
                  <h4 class="clr">Quick Links</h4>
                  <ul>
                    <li><a href="#">About</a></li>
                    {{!-- <li><a href="#"> Offers & Discounts</a></li>
                    <li><a href="#"> Get Coupon</a></li> --}}
                    <li><a href="#"> Contact Us</a></li>
                  </ul>
                </div>
              </div>
            </div>
            {{!-- <div class="col-xl-3 col-lg-3 col-md-4 col-sm-7">
              <div class="single-footer-caption mb-50">
                <div class="footer-tittle">
                  <h4>New Products</h4>
                  <ul>
                    <li><a href="#">Woman Cloth</a></li>
                    <li><a href="#">Fashion Accessories</a></li>
                    <li><a href="#"> Man Accessories</a></li>
                    <li><a href="#"> Rubber made Toys</a></li>
                  </ul>
                </div>
              </div>
            </div> --}}
            <div class="col-xl-3 col-lg-3 col-md-5 col-sm-7">
              <div class="single-footer-caption mb-50">
                <div class="footer-tittle">
                  <h4 class="clr">Support</h4>
                  <ul>
                    {{!-- <li><a href="#">Frequently Asked Questions</a></li> --}}
                    <li><a href="#">Terms & Conditions</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                    {{!-- <li><a href="#">Report a Payment Issue</a></li> --}}
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <!-- Footer bottom -->
          <div class="row align-items-center">
            <div class="col-xl-7 col-lg-8 col-md-7">
              <div class="footer-copy-right">
                <p>
                  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                  Copyright &copy;
                  <script>document.write(new Date().getFullYear());</script>
                  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                </p>
              </div>
            </div>
            <div class="col-xl-5 col-lg-4 col-md-5">
              <div class="footer-copy-right f-right">
                <!-- social -->
                <div class="footer-social ">
                  <a href="#"><i class="fab fa-twitter clr "></i></a>
                  <a href="https://www.facebook.com/sai4ull"><i class="fab fa-facebook-f clr"></i></a>
                  <a href="#"><i class="fab fa-behance clr"></i></a>
                  <a href="#"><i class="fas fa-globe clr"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Footer End-->
    </footer>
    <!--? Search model Begin -->
    <div class="search-model-box">
      <div class="h-100 d-flex align-items-center justify-content-center">
        <div class="search-close-btn">+</div>
        <form class="search-model-form">
          <input type="text" id="search-input" placeholder="Searching key.....">
        </form>
      </div>
    </div>








    <!-- Search model end -->

    <!-- JS here -->

    <script src="./assets/js/vendor/modernizr-3.5.0.min.js"></script>
    <!-- Jquery, Popper, Bootstrap -->
    <script src="./assets/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="./assets/js/popper.min.js"></script>
    <script src="./assets/js/bootstrap.min.js"></script>
    <!-- Jquery Mobile Menu -->
    <script src="./assets/js/jquery.slicknav.min.js"></script>

    <!-- Jquery Slick , Owl-Carousel Plugins -->
    <script src="./assets/js/owl.carousel.min.js"></script>
    <script src="./assets/js/slick.min.js"></script>

    <!-- One Page, Animated-HeadLin -->
    <script src="./assets/js/wow.min.js"></script>
    <script src="./assets/js/animated.headline.js"></script>

    <!-- Scrollup, nice-select, sticky -->
    <script src="./assets/js/jquery.scrollUp.min.js"></script>
    <script src="./assets/js/jquery.nice-select.min.js"></script>
    <script src="./assets/js/jquery.sticky.js"></script>
    <script src="./assets/js/jquery.magnific-popup.js"></script>

    <!-- contact js -->
    <script src="./assets/js/contact.js"></script>
    <script src="./assets/js/jquery.form.js"></script>
    <script src="./assets/js/jquery.validate.min.js"></script>
    <script src="./assets/js/mail-script.js"></script>
    <script src="./assets/js/jquery.ajaxchimp.min.js"></script>

    <!-- Jquery Plugins, main Jquery -->
    <script src="./assets/js/plugins.js"></script>
    <script src="./assets/js/main.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>


    <script>
      $("#checkout-form").submit((e) => {
        e.preventDefault()
        
        $.ajax({
          alert:'hai',
          url: '/payment',
          method: 'post',
          data: $('#checkout-form').serialize(),
          success: (response) => {
    
     

            if (response.codSuccess) {
              location.href = '/orders'
            } else {
              razorpayPayment(response)
            }
          }
        })
      })
      function razorpayPayment(order) {
        console.log(order)
        var options = {
          "key": "rzp_test_MBfN7AKX6sOc1c",            // Enter the Key ID generated from the Dashboard
          "amount": order.amount,                      // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
          "currency": "INR",
          "name": "Quartz",
          "description": "Test Transaction",
          "image": "https://example.com/your_logo",
          "order_id": order.id,                        //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
          "handler": function (response) {


            verifyPayment(response, order)
          },
          "prefill": {
            "name": "Pranav",
            "email": "pranav@example.com",
            "contact": "6282660588"
          },
          "notes": {
            "address": "Food_Mall pvt.ltd"
          },
          "theme": {
            "color": "#3399cc"
          }

        };
        var rzp1 = new Razorpay(options);
        rzp1.open();
      }
      function verifyPayment(payment, order) {
        $.ajax({
          url: '/verify-payment',
          data: {
            payment,
            order,
          },
          method: 'post',
          success: (response) => {
            console.log("oooooooooooooooooommmmmmmmmmmmbbbbbbbbbbb")
            console.log(response)
            if (response.status) {
              location.href = '/orders'
            } else {
              alert('payment failed')
            }
          }
        })
      }
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js"
      integrity="sha512-rstIgDs0xPgmG6RX1Aba4KV5cWJbAMcvRCVmglpam9SoHZiUCyQVDdH2LPlxoHtrv17XWblE/V/PP+Tr04hbtA=="
      crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</body>

</html>